{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ (url_for('static', filename='index.css') )}}" rel="stylesheet">

    <script>
        function appendActionPlan() {
            let oldActionPlanEntry = $(".actionPlanEntry").last();
            let newActionPlanEntry = oldActionPlanEntry.clone();

            let oldID = newActionPlanEntry.attr("id")
            let idnum = parseInt(oldID.charAt(oldID.length-1)) + 1
            if(idnum > 5) {
                alert("Only 5 action plans allowed.")
            } else {
                let newid = oldID.slice(0,oldID.length-1) + (idnum)
                newActionPlanEntry.attr("id", newid).appendTo(".action-plan");
                
                let newLabel = newActionPlanEntry.find("label")
                newLabel.text('Action Plan # ' + idnum)
                newActionPlanEntry.show();
            }
        }
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1>Kennedy Krieger Partners in School</h1>
            </div>
        </div>
        <!-- @todo: make sure screen reader compliant and also check out need validation --> 
        <form class="basic-info">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName">
                </div>
                <div class="col-md-4">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" id="lastName">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <label for="targetBehavior">Target Behavior</label>
                    <input type="text" class="form-control" id="targetBehavior">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <label for="homeSchoolGoal">Home/School Goal</label>
                    <input type="text" class="form-control" id="homeSchoolGoal">
                </div>
            </div>
        </form>
        <form class="action-plan">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h3>Action Plans</h3>
                </div>
            </div>
            <div class="actionPlanEntry" id="ape1">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <label for="actionPlan">Action plan # 1</label>
                        <input type="text" class="form-control" id="actionPlan">
                    </div>
                </div>
            </div>
        </form>
        <div class="row justify-content-center">
            <span class="border">
                <button class="btn btn-light" onclick="appendActionPlan()">Enter another action plan</button>
            </span>
            
        </div>
        <form class="goalRange">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <label for="goalRange1">At the end of the day, please indicate how closely the above GOAL was met.</label>
                    <input type="range" class="custom-range" min="0" max="4" step="1.0" id="goalRange1">
                </div>
                <div class="col-md-8">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">Situation significantly worse</li>
                        <li class="list-group-item">Situation somewhat worse</li>
                        <li class="list-group-item">No progress</li>
                        <li class="list-group-item">Situation somewhat better</li>
                        <li class="list-group-item">Situation significantly better</li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <label for="signature1">Signature of Teacher</label>
                </div>
            </div>
        </form>
        <div class="row justify-content-center">
            <button class="btn btn-dark">Submit data</button>
        </div>
    </div>

{% endblock %}