.basic-info {
    padding-top: 25px;
}

.action-plan {
    padding-top: 25px;
}
.container {
    padding-top: 25px;
}
#addAPButton {
    padding-top: 25px;
}
#goalRangeParent, #goalRangeTeacher {
    padding-bottom: 25px;
}
.parent-eval, .teacher-eval {
    padding-top: 25px;
}
.submit-data {
    padding-top: 25px;
    padding-bottom: 25px;
}
li {
    position: relative;
    float: left;
    text-align: center;
    padding: 20px;
}
#rateGoal {
    padding-bottom: 25px;
}
.col-md-4 {
    padding-bottom: 20px;
}
.col-md-8 {
    padding-bottom: 20px;
}