h1 {
    padding-top: 25px;
}
.flashing {
    padding-top: 25px;
    color: red;
}
label {
    float: left;
}
.col-md-4 {
    padding-bottom: 25px;
}

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}