{% extends "layout.html" %}
{% block title %}Add Entry{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ (url_for('static', filename='addentry.css') )}}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <script>
        /*
        function appendActionPlan() {
            let oldActionPlanEntry = $(".actionPlanEntry").last();
            let newActionPlanEntry = oldActionPlanEntry.clone();

            let oldID = newActionPlanEntry.attr("id")
            let idnum = parseInt(oldID.charAt(oldID.length-1)) + 1
            if(idnum > 5) {
                alert("Only 5 action plans allowed.")
            } else {
                let newid = oldID.slice(0,oldID.length-1) + (idnum)
                newActionPlanEntry.attr("id", newid).appendTo(".action-plan");
                let blankText = newActionPlanEntry.find("input")
                blankText.val("")

                let newLabel = newActionPlanEntry.find("label")
                newLabel.text('Action Plan # ' + idnum)
                newActionPlanEntry.show();
            }
        }*/

        function createActionPlans(data) {
            actionPlanEntries = document.getElementById('actionPlanEntries');
            entryHTML = "";
            aps = data.actionPlans;
            aps_len = aps.length
            let counter = 1;
            if(aps_len == 0) {
                entryHTML += `<div class="row justify-content-center">\n`;
                entryHTML += `<div class="col-md-8">\n`;
                entryHTML += `<p> No action plans set yet! </p>`;
                entryHTML += `</div>\n`;
                entryHTML += `</div>\n`;
            } else {
                for(let ap of aps) {
                    entryHTML += `<div class="row justify-content-center">\n`;
                    entryHTML += `<div class="col-md-8">\n`;
                    entryHTML += `<label for="actionPlan"> Action plan step ${counter}</label>\n`;
                    entryHTML += `<input type="text" class="form-control" id="actionPlan" name="actionPlan" value="${aps[counter-1]}" readonly="readonly" required>\n`
                    entryHTML += `</div>\n`;
                    entryHTML += `</div>\n`;
                    counter += 1;
                }           
            }
            actionPlanEntries.innerHTML = entryHTML;
        };

        $( document ).ready(function() {
            let data = JSON.parse('{{data|tojson|safe}}');
            let today = new Date().toISOString().substr(0,10);
            console.log(data);
            $( '#userID' ).attr("value", data.userID);
            $( '#date' ).attr("value", today);
            $( '#targetBehavior' ).attr("value", data.targetBehavior);
            $( '#homeSchoolGoal' ).attr("value", data.homeSchoolGoal); 
            if(data.role=="Parent") {
                $(".teacher-eval").hide();
            } else if(data.role=="Teacher") {
                $(".parent-eval").hide();
            } else {
                console.log("neither hit");
            }
            createActionPlans(data);
        })
    </script>

{% endblock %}
{% block content %}
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1>Partners in School</h1>
            </div>
        </div>
        <div class="message"> 
            {% if message %}
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <p style="color:red" class="message">{{ message | safe }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
        <!-- @todo: make sure screen reader compliant and also check out need validation --> 
        <form action="{{ url_for('submitted') }}" method="POST" id="form-entry">
            <div class="basic-info">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <label for="userID">User ID</label>
                        <input type="text" class="form-control" id="userID" name="userID" readonly="readonly" required>
                    </div>
                    <div class="col-md-4">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="date" name="date" required>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <label for="targetBehavior">Target Behavior</label>
                        <input type="text" class="form-control" id="targetBehavior" name="targetBehavior" readonly="readonly" required>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <label for="homeSchoolGoal">Home/School Goal</label>
                        <input type="text" class="form-control" id="homeSchoolGoal" name="homeSchoolGoal" readonly="readonly" required>
                    </div>
                </div>
            </div>
            <div class="action-plan">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h3>Action Plans</h3>
                    </div>
                </div>
                <div class="actionPlanEntries" id="actionPlanEntries">
                    <p>sdlkfj</p>
                </div>
                <!--
                <div class="actionPlanEntry">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <label for="actionPlan">Action plan # 1</label>
                            <input type="text" class="form-control" id="actionPlan" name="actionPlan" required>
                        </div>
                    </div>
                </div>
                -->
            </div>
            <!--
            <div class="row justify-content-center" id="addAPButton">
                <span class="border">
                    <button class="btn btn-light" onclick="appendActionPlan()" type="button">Enter another action plan</button>
                </span>
            </div>
            -->
            <div class="goalRange">
                <div class="row justify-content-center teacher-eval">
                    <div class="col-md-8">
                        <h3>Teacher Evaluation</h3>
                    </div>
                </div>
                <div class="row justify-content-center parent-eval">
                    <div class="col-md-8">
                        <h3>Parent Evaluation</h3>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8" id="rateGoal">
                        <label for="goalRange">At the end of the day, please indicate how closely the above GOAL was met.</label>
                        <select class="form-control" id="goalRange" name="goalRange">
                            <option>Situation significantly worse</option>
                            <option>Situation somewhat worse</option>
                            <option selected>No progress</option>
                            <option>Situation somewhat better</option>
                            <option>Situation significantly better</option>
                        </select>
                    </div>
                </div>
            </div>
                <!--
                <div class="col-md-8">
                    <label for="signature">Signature</label>
                    <input type="text" class="form-control" id="signature" name="signature">
                </div>
            -->
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h3>Signature</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div id="signature-pad" class="signature-pad">
                    <div class="signature-pad--body">
                        <canvas></canvas>
                    </div>
                    <div class="signature-pad--actions">
                        <div class="row justify-content-center">
                            <div class="col-md-4 signature-button">
                                <button type="button" class="btn btn-outline-primary btn-block clear" data-action="clear">Clear</button>
                                <!-- <button type="button" class="button save" data-action="save">Save</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="signatureData" name="signatureData" value="">
            <div id="submit-data" class="row justify-content-center submit-data">
                <button class="btn btn-dark" data-action="submit" type="submit">Submit data</button>
            </div>
        </form>
    </div>

    <script>
        var canvas = document.querySelector("canvas");
        console.log(canvas)
        console.log("signature pad created")
        var signaturePad = new SignaturePad(canvas);

        var submitWrapper = document.getElementById("submit-data");
        var submitButton = submitWrapper.querySelector("[data-action=submit]");

        var signatureWrapper = document.getElementById("signature-pad");
        var clearButton = signatureWrapper.querySelector("[data-action=clear]");

        clearButton.addEventListener("click", function (event) {
            signaturePad.clear();
        });

        submitButton.addEventListener("click", function (event) {
            if (signaturePad.isEmpty()) {
                event.preventDefault();
            } else {
                event.preventDefault();
                //const signatureData = signaturePad.toData();
                var signatureData = signaturePad.toDataURL();
                console.log(signatureData);
                var signatureField = document.getElementById("signatureData");
                signatureField.value = signatureData;
                //document.getElementById("form-entry").submit();
                console.log(document.getElementById("form-entry").elements);
                document.getElementById("form-entry").submit();
            }
        })
    </script>
{% endblock %}