{% extends "layout.html" %}
{% block title %}Add Entry{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ (url_for('static', filename='addentry.css') )}}" rel="stylesheet">

    <script>
        /*
        function appendActionPlan() {
            let oldActionPlanEntry = $(".actionPlanEntry").last();
            let newActionPlanEntry = oldActionPlanEntry.clone();

            let oldID = newActionPlanEntry.attr("id")
            let idnum = parseInt(oldID.charAt(oldID.length-1)) + 1
            if(idnum > 5) {
                alert("Only 5 action plans allowed.")
            } else {
                let newid = oldID.slice(0,oldID.length-1) + (idnum)
                newActionPlanEntry.attr("id", newid).appendTo(".action-plan");
                let blankText = newActionPlanEntry.find("input")
                blankText.val("")

                let newLabel = newActionPlanEntry.find("label")
                newLabel.text('Action Plan # ' + idnum)
                newActionPlanEntry.show();
            }
        }*/

        function createActionPlans(data) {
            actionPlanEntries = document.getElementById('actionPlanEntries');
            entryHTML = "";
            aps = data.actionPlans;
            aps_len = aps.length
            let counter = 1;
            if(aps_len == 0) {
                entryHTML += `<div class="row justify-content-center">\n`;
                entryHTML += `<div class="col-md-8">\n`;
                entryHTML += `<p> No action plans set yet! </p>`;
                entryHTML += `</div>\n`;
                entryHTML += `</div>\n`;
            } else {
                for(let ap of aps) {
                    entryHTML += `<div class="row justify-content-center">\n`;
                    entryHTML += `<div class="col-md-8">\n`;
                    entryHTML += `<label for="actionPlan"> Action plan step ${counter}</label>\n`;
                    entryHTML += `<input type="text" class="form-control" id="actionPlan" name="actionPlan" value="${aps[counter-1]}" readonly="readonly" required>\n`
                    entryHTML += `</div>\n`;
                    entryHTML += `</div>\n`;
                    counter += 1;
                }           
            }
            actionPlanEntries.innerHTML = entryHTML;
        };

        $( document ).ready(function() {
            console.log("heloo");
            let data = JSON.parse('{{data|tojson|safe}}');
            let today = new Date().toISOString().substr(0,10);
            console.log(data);
            $( '#userID' ).attr("value", data.userID);
            $( '#date' ).attr("value", today);
            $( '#targetBehavior' ).attr("value", data.targetBehavior);
            $( '#homeSchoolGoal' ).attr("value", data.homeSchoolGoal); 
            if(data.role=="Parent") {
                $(".teacher-eval").hide();
            } else if(data.role=="Teacher") {
                $(".parent-eval").hide();
            } else {
                console.log("neither hit");
            }
            createActionPlans(data);
        })
    </script>
{% endblock %}
{% block content %}
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1>Partners in School</h1>
            </div>
        </div>
        <div class="message"> 
            {% if message %}
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <p style="color:red" class="message">{{ message | safe }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
        <!-- @todo: make sure screen reader compliant and also check out need validation --> 
        <form action="{{ url_for('submitted') }}" method="POST">
            <div class="basic-info">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <label for="userID">User ID</label>
                        <input type="text" class="form-control" id="userID" name="userID" readonly="readonly" required>
                    </div>
                    <div class="col-md-4">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="date" name="date" required>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <label for="targetBehavior">Target Behavior</label>
                        <input type="text" class="form-control" id="targetBehavior" name="targetBehavior" readonly="readonly" required>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <label for="homeSchoolGoal">Home/School Goal</label>
                        <input type="text" class="form-control" id="homeSchoolGoal" name="homeSchoolGoal" readonly="readonly" required>
                    </div>
                </div>
            </div>
            <div class="action-plan">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h3>Action Plans</h3>
                    </div>
                </div>
                <div class="actionPlanEntries" id="actionPlanEntries">
                    <p>sdlkfj</p>
                </div>
                <!--
                <div class="actionPlanEntry">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <label for="actionPlan">Action plan # 1</label>
                            <input type="text" class="form-control" id="actionPlan" name="actionPlan" required>
                        </div>
                    </div>
                </div>
                -->
            </div>
            <!--
            <div class="row justify-content-center" id="addAPButton">
                <span class="border">
                    <button class="btn btn-light" onclick="appendActionPlan()" type="button">Enter another action plan</button>
                </span>
            </div>
            -->
            <div class="goalRange">
                <div class="teacher-eval">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <h3>Teacher Evaluation</h3>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-8" id="rateGoal">
                            <label for="goalRangeTeacher">At the end of the day, please indicate how closely the above GOAL was met.</label>
                            <select class="form-control" id="goalRangeTeacher" name="goalRangeTeacher">
                                <option>Situation significantly worse</option>
                                <option>Situation somewhat worse</option>
                                <option selected>No progress</option>
                                <option>Situation somewhat better</option>
                                <option>Situation significantly better</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <label for="signatureTeacher">Signature of Teacher</label>
                            <input type="text" class="form-control" id="signatureTeacher" name="signatureTeacher">
                        </div>
                    </div>
                </div>
                <!-- Parent Eval -->
                <div class="parent-eval">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <h3>Parent Evaluation</h3>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-8" id="rateGoal">
                            <label for="goalRangeParent">At the end of the day, please indicate how closely the above GOAL was met.</label>
                            <select class="form-control" id="goalRangeParent" name="goalRangeParent">
                                <option>Situation significantly worse</option>
                                <option>Situation somewhat worse</option>
                                <option selected>No progress</option>
                                <option>Situation somewhat better</option>
                                <option>Situation significantly better</option>
                            </select>
                        </div>
                        <div class="col-md-8" id="goalRangeParent">
                            <label for="signatureParent">Signature of Parent</label>
                            <input type="text" class="form-control" id="signatureParent" name="signatureParent">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center submit-data">
                <button class="btn btn-dark" type="submit">Submit data</button>
            </div>
        </form>
    </div>


{% endblock %}