{% extends "layout.html" %}
{% block title %}read data{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        function createTable(data) {
            noteTable = document.getElementById('note-timeline');
            innerHTML = "";
            let counter;
            console.log(data);
            let dateLength = data.date.length;
            console.log(dateLength)
            for(counter = 0; counter < 15; counter ++) {
                innerHTML += `<li>\n`;
                if(counter < dateLength) {
                    innerHTML += `<a href="{{url_for('readdata')}}"> Home/School Note </a>\n`;
                    innerHTML += `<a href="{{url_for('readdata')}}"> Date Completed: ${data.date[counter]} </a>\n`;
                } else {
                    innerHTML += `<a href="{{url_for('addentry')}}"> Home/School Note </a>\n`;
                    innerHTML += `<a href="{{url_for('addentry')}}"> Not completed </a>\n`;
                }
                innerHTML += `</li>\n`;
            }

            console.log(innerHTML);
            noteTable.innerHTML = innerHTML;
        }

        $(document).ready(function() {
            let data = JSON.parse('{{data|tojson|safe}}');
            createTable(data);
        })
    </script>
    <link rel="stylesheet" href="{{url_for('static', filename='notecalendar.css')}}">
{% endblock %}
{% block content %}
<div class="container shadow p-3 mb-5 bg-white rounded">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h4>Notes</h4>
                <ol class="timeline" id="note-timeline">
                    <!--
                    <li>
                        <a href="#">Home/School Note</a>
                        <a href="#" class="float-right">Date 1</a>
                    </li>
                    <li>
                        <a href="#">Home/School Note</a>
                        <a href="#" class="float-right">Date 2</a>
                    </li>
                    <li>
                        <a href="#">Home/School Note</a>
                        <a href="#" class="float-right">Date 3</a>
                    </li>
                -->
                </ol>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}