{% extends "layout.html" %}
{% block title %}read data{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{url_for('static', filename='readdata.css')}}", rel="stylesheet">
    <script>
        $(document).ready(function() {
            let table_data = {{data | safe}};
            let behavior = {{behavior | tojson | safe}};
            let homeSchoolGoal = {{homeSchoolGoal | tojson | safe}};
            console.log(behavior)
            console.log(table_data);
            loadTableData(table_data, behavior, homeSchoolGoal);
        });

        /*
        function loadTableData(table_data) {
            let tableBody = document.getElementById('tableData');
            let dataHtml = "";
            for(let row of table_data) {
                dataHtml += `<tr><td>${row.date}</td><td>${row.target_behavior}</td><td>${row.goal_rating}</td></tr>`;
            }
            tableBody.innerHTML = dataHtml;
        }
        */
        $('.collapse').on('show.bs.collapse', function () {
            $('.collapse.in').collapse('hide');
        });
        function loadTableData(table_data, behavior, homeSchoolGoal) {
            let tableBody = document.getElementById('tableData');
            let dataHTML = "";
            let count = 1;
            for(let row of table_data) {
                actionplanheaders = "<h4>Action Plans:</h4>";
                for(let plan of row.action_plans) {
                    actionplanheaders += `<h5>${plan}</h5>`
                }
                dataHTML += `<tr data-toggle="collapse" data-target="#demo${count}">`;
                dataHTML += `  <td>${row.date}</td>`;
                dataHTML += `  <td>${behavior.targetBehavior}</td>`;
                dataHTML += `  <td>${homeSchoolGoal.homeSchoolGoal}</td>`;
                dataHTML += `  <td>${row.goal_rating}</td>`;
                dataHTML += `</tr>`;
                dataHTML += `<tr>`;
                dataHTML += `  <td class="hiddenRow">`;
                dataHTML += `    <div id="demo${count}" class="collapse">`;
                dataHTML += `    ${actionplanheaders}`;
                dataHTML += `    </div>`;
                dataHTML += `  </td>`;
                dataHTML += `</tr>`;
                count += 1;
            }
            tableBody.innerHTML = dataHTML;
        }

    </script>
{% endblock %}
{% block content %}
<!-- Code inspiration from Dylan Israel -->
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <table class = "table table-striped table-borderless">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Target Behavior</th>
                        <th>Home/School Goal</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody id="tableData">
        
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center return-calendar">
        <div class="col-md-8">
            <a class="btn btn-primary btn-block" href="{{ url_for('landing') }}">Return to the Dashboard</a>
        </div>
    </div>

{% endblock %}